<% if user_signed_in? %>
	<h1>You're signed in!</h1>
<% else %>

<div class="center hero-unit">
	<h1>Skiing 2013</h1>
	
	<h2>
	  Trip to 
	  <a href="http://valthorens.com/">Val Thorens</a>
	  Mar 2 to Mar 9.
	</h2>
	
	<%= link_to "Sign up now!", new_user_registration_path,
	                            class: "btn btn-large btn-primary" %>
</div>

<% end %>